/**
 * Starttopmenu.RowTpl
 *
 * Starttopmenu.RowTpl
 *
 * @category	chunk
 * @internal @modx_category StartTopMenu
 */
<li [+wf.classes+]><a href="[+wf.link+]" title="[+wf.title+]">[+wf.linktext+]</a>[+wf.wrapper+]</li>