/**
 * StartMap
 *
 * Google Map chunk
 *
 * @category	chunk
 * @internal @modx_category Start
 */
<div class="row blue">

                <section>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d838.0822771072106!2d-96.80681956626965!3d32.83653677122956!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e9eee5c772cd5%3A0x21598739659affc!2s25+Highland+Park+Village+%23100%2C+Dallas%2C+TX+75205!5e0!3m2!1sit!2s!4v1410185301990" width="100%" height="450" frameborder="0" style="border:0"></iframe>
    </section>

        </div>
