/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none; }

/* FlexSlider Necessary Styles
*********************************/
.flexslider { margin: 3px 0 40px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider 
*********************************/
.flexslider {
	background: #fff; 
	position: relative; 
	zoom: 1;
}

.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}

.loading .flex-viewport {max-height: 300px;}

.flexslider .slides {
	zoom: 1;
}

.flexslider .slides > li {
	position: relative;
}

.flexslider .slides > li > a {
	display: block;
}

.flexslider .button {
	margin-bottom: 0;	
}

/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */

.flex-container {
	zoom: 1; 
	position: relative;
}

/* Caption style */

.flex-caption {
	width: 50%; 
	min-width: 310px;
	max-height: 252px;
	padding: 20px;
	position: absolute;
	left: 0;
	bottom: 1px;
	color: #fff;
	font-size:1.2em;
	font-family: 'Oswald', sans-serif; font-weight:300;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.6);
	/*background: rgba(0,0,0,0.4);*/
		
}

.flex-caption h2 {
color:#FFFFFF;
	font-size: 1.9em; 
	line-height: 1.2em; /* 26px/20px */
	margin: 0px 0px 0px 0px;
   padding: 5px 10px;	
	font-weight:400;
	background: #499bea;
	border-radius: 7px 7px 0 0;
	box-shadow: 0 4px 4px rgba(0,0,0,.2);
}

.flex-caption p {
	color: #f07a45;
background: #FFFFFF;
text-shadow:1px 1px 1px #FFF;
   padding: 10px;
	margin-top: 20px;
	margin-right:12px;	
	border-radius: 0 0 7px 7px;
	box-shadow: 0 4px 4px rgba(0,0,0,.2);
}

.flex-caption h2 + p {
	margin: 0;	
}

.flex-caption a {
	color: #b2b2b2;
}

/* Direction Nav */

.flex-direction-nav { 
	position: absolute;
	right: 5px;
	bottom: 3px;
	height: 27px;
	*height: 0;
	z-index: 50;
}

.flex-direction-nav li { 
	display: inline-block;
}

.flex-direction-nav li:first-child { 
	margin-right: 1px;
}

.flex-direction-nav a {
	display: block;
	width: 27px; 
	height: 27px; 
	background: #499bea url(images/arrows.png);
	background-repeat: no-repeat;
	cursor: pointer; 
	text-indent: -999em;
	border-radius:4px;
	
}

.flex-direction-nav a.flex-prev,
.flex-direction-nav a.flex-prev.flex-disabled {
	background-position: 10px 7px;
}

.flex-direction-nav a.flex-next,
.flex-direction-nav a.flex-next.flex-disabled {
	background-position: -17px 7px; 
}

.flex-direction-nav a.flex-disabled:link, .flex-direction-nav a.flex-disabled:visited, 
.flex-direction-nav a.flex-disabled:hover, .flex-direction-nav a.flex-disabled:active {
	background-color: rgba(0,0,0,0.6);
	cursor: default;
}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {border: 1px solid #ffffcc; width: 15px; height: 15px; display: block; background: #FFF; background: #FFFFFF; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 3px rgba(0,0,0,0.6); -o-box-shadow: 0 0 3px rgba(0,0,0,0.6); box-shadow: 0 0 3px rgba(0,0,0,0.6); }
.flex-control-paging li a:hover { background: #499bea; background: #499bea; }
.flex-control-paging li a.flex-active { background: #499bea; background: background: #f07a45; cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

.flex-control-paging a {
	width: 7px; 
	height: 7px; 
	display: block; 
	background-color: #FFFFFF;
	cursor: pointer; 
	text-indent: -999em;

}

.flex-control-paging a:hover {
	background-color: #519548;
}

.flex-control-paging a.flex-active {
	cursor: default;
}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
  .flex-caption h2 {	font-size: 1em; line-height: 0.8 em;}
.flex-caption p {	font-size:0.8em;}
}

@media screen and (max-width: 460px) {
.flex-caption { display:none;}
}